fastapi
uvicorn
python-dotenv
pydantic
openai
websockets
zhipuai
tavily-python
google-generativeai
sqlalchemy
pymysql
mysql-connector-python
python-jose[cryptography]
passlib[bcrypt]
python-multipart

